body {
  //background-color: red;
  margin: 0;
  padding: 0;
}

.first-layer {
  height: 100vh;
  background-color: blue;
  background-image: url("../img.jpg");
  padding: 0;
  position: fixed;
  width: 100%;
}

.second-layer {
  background-color: red;
  //border: 5px solid black;
  box-shadow: -5px -5px 20px 0 red;
  //height: 100%;
  position: absolute;
  top: 100vh;
  width: 100%;

  div {
    background-color: green;
    height: 500px;
    margin: 100px auto 0;
    width: 100%;

    p {
      background-color: orange;
      box-sizing: border-box;
      height: 100%;
      padding: 5rem;
      margin: 0 auto;
      max-width: 800px;
    }
  }
}
